body {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
}

table {
    width: 600px;
    border-collapse: collapse;
    position: relative;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

thead {
    background-color: grey;
    color: white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: grey;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}

thead>th {}

tbody {}

tbody>tr>td {
    border: 1px solid black;
}

tfoot {
    background-color: grey;
    color: white;

}