body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

thead {
    background-color: grey;
    color: white;
}

thead>th {}

tbody {}

tbody>tr>td {
    border: 1px solid black;
}

tfoot {
    background-color: grey;
    color: white;

}