@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(5, 1fr);

}

.caixa1 {
    background-color: lightblue;
    /*grid-row-start: 1;
    grid-row-end: 2;*/
    grid-row: 1 / 3;
    /*grid-column-start: 1;
    grid-column-end: 5;*/
    grid-column: 1 / 6;

    /*grid-area: 1 / 1 / 2 / 5;*/
}

.caixa2 {
    background-color: lightgreen;
    /*grid-row-start: 2;
    grid-row-end: 4;*/
    /*grid-column-start: 1;
    grid-column-end: 3;*/

    grid-area: 3 / 1 / 4 / 6;
}

.caixa3 {
    background-color: lightpink;
    grid-row: 4 / 10;
    grid-column: 1 / 5;
}

.caixa4 {
    background-color: lightskyblue;
    grid-row: 4 / 10;
    grid-column: 5 / 6;
}

.caixa5 {
    background-color: lightslategray;
    grid-row: 10 / 11;
    grid-column: 1 / 6;
}

