@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;

}

.caixa1 {
    background-color: lightblue;

    grid-area: 1 / 1 / 2 / 3;
}

.caixa2 {
    background-color: lightgreen;
    /*grid-row-start: 2;
    grid-row-end: 4;*/
    /*grid-column-start: 1;
    grid-column-end: 3;*/

    grid-area: 2 / 1 / 3 / 3;
}

.caixa3 {
    background-color: lightpink;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.caixa4 {
    background-color: lightskyblue;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.caixa5 {
    background-color: lightslategray;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

