@charset "UTF-8";

div.container {
    border: 3px solid blue;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 80px);
    grid-auto-rows: 80px;
    grid-auto-columns: 120px;
    grid-auto-flow: column;
    /*grid-template: repeat(3, auto) / repeat(3, auto);*/
    /*align-items: start;
    justify-items: center;*/
    place-items: normal normal;
    /*align-content: space-between;
    justify-content: end;*/
    place-content: normal normal;
}

div.item {
    border: 3px solid red;
    padding: 5px;
}