@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);

}

.caixa1 {
    background-color: lightblue;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2 {
    background-color: lightgreen;
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: lightseagreen;
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 3;
    grid-column-end: 5;
}