body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    text-align: center;
}

caption {
    font-size: 1.3em;
    font-weight: bolder;
    padding: 5px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

col.cnome {
    background-color: chartreuse;
}