@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: lightgray;
}

header {
    background-color: rgb(147, 147, 147);
}

header>h1 {
    padding: 10px;
    text-align: center;
}

span#iburguer {
    background-color: rgb(49, 49, 49);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

span#iburguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu>ul {
    list-style: none;
}

menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;   
    border-top: 2px solid grey;
}

menu>ul>li>a:hover {
    background-color: grey;
}

main {
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    margin: auto;
}

article > h2 {
    padding-bottom: 20px;

}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}